<section class="static-page-container container my-5">
    <h1>Privacy Policy</h1>
    <div class="column">
        <h2>Privacy Policy:</h2>
        <p>House-of-coin.com  is a website created specifically in order to petition the WHO to allow Taiwan to participate in its activities. The website is set up and run by volunteers and is not attached to or owned by any state, association or other organization. In order to administer and submit the petition to the WHO, it is necessary to collect the personal data of the people who sign it. The goal of this privacy policy is to explain who has access to your personal data and how and why it is processed.</p>
        <h2>Data controller:</h2>
        <p>In France, all personal data collected via the website is processed and stored under the responsibility of Mr. Jean-Marc Dardy. Mr. Dardy is thus the data controller of the personal data in this context and can be contacted at <strong>houseofcoins2021@gmail.com.</strong></p>
        <h2>How your personal data is processed:</h2>
        <ol>
            <li>
                <h4>1. Petition form:</h4>
                <p>When you fill in the form to sign the petition, you are asked to enter your personal data. This includes your name, e-mail address, country of residence and details about your professional status, as well as the fact that you support the full collaboration of the WHO with Taiwan. Because it relates to your political opinions, your support for the petition constitutes sensitive personal data and benefits from extra legal protections. Your specific consent to the processing of your personal data in this context is therefore requested.</p>
                <p>Your personal data collected via the petition is stored in a secure electronic environment in France . The names and details entered will be checked to ensure, in particular, that there is no double counting of signatures. They will then be communicated to the Director General of the World Health Organisation. Your name, family name, profession and country will be used to demonstrate the number of signatures.</p>
                <p>The purpose of collecting your personal data via the webform is to enable the establishment and communication of the petition to the WHO. The legal basis for the processing is your consent, which you are asked to provide using a checkbox when you submit the webform.</p>
                <p>You can withdraw your consent at any time by writing to <strong>houseofcoins2021@gmail.com..</strong> If you withdraw your consent, your personal data will be deleted and your name will not be included in the petition submitted to the WHO.</p>
                <p>Your personal data will be retained until the WHO general assembly, which will take place from 17 to 21 May 2020. In the event of cancellation or postponement of the general assemble, your personal data will be retained until the 2021 assembly.</p>
            </li>
            <li>
                <h4>2. Comments:</h4>
                <p>(a) General: You can also choose to leave comments on the website via the dedicated form.
                <p>When you leave comments, the site collects the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.
                <p>An anonymised string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service Privacy Policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.</p>
                <p>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.</p>
                <p>The purpose of collecting your personal data via the webform is to enable you to publish your comments on the site. The legal basis for the processing is your consent, provided when you click on “post comment”. You can publish your comment anonymously or under your name.</p>
                <p>You can withdraw your consent at any time by writing to <strong>houseofcoins2021@gmail.com..</strong> If you withdraw your consent, your comment will be deleted from the site.</p>
                <p>Your personal data will be retained until the WHO general assembly, which will take place from 17 to 21 May 2020. In the event of cancellation or postponement of the general assemble, your personal data will be retained until the 2021 assembly.</p>
                <p>(b) Saving your name: If you leave a comment on the site you can opt in to saving your name, email address and website using cookies, by clicking on the checkbox provided. This function is for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.</p>
            </li>
        </ol>
        <h2>Other cookies:</h2>
        <p>If you visit the login page of the site, a temporary cookie will be set to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser. This site doesn’t use any third-party analytics technology.</p>
        <h2>Embedded content:</h2>
        <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website. These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.</p>
        <h2>Who has access to your personal data?</h2>
        <p>As well as the third parties mentioned above, in particular the WHO, your personal data may be communicated to the following categories of recipients: Public authorities, if the data controller is under a legal obligation to disclose or to share your personal data,Third-party suppliers of technical services. Note in this respect the website is hosted in France by 1&1 IONOS SARL, a French-law company whose registered address is at 7 Place de la Gare, 57201 Sarreguemines, France.</p>
        <h2>What are your rights?</h2>
        <p>Your rights as regards your personal data include, in particular, those set out below. These rights may apply to your situation depending on the circumstances and include:</p>
        <ul>
            <li>The right to ask:For access to your personal data and information about the processing of that data (“Right of access”);</li>
            <li>For your personal data to be completed or corrected if it is inaccurate (“Right to rectification”);</li>
            <li>For your personal data to be erased (“Right to be forgotten”);</li>
            <li>For the processing of your personal data to be restricted or limited (“Right to restriction of processing”);</li>
            <li>The right to object to the processing of your personal data (“Right to object”);</li>
            <li>The right to receive your personal data in a structured, commonly-used and machine-readable format and to transmit the data to another data controller (“Right to data portability”);</li>
            <li>The right to set out instructions regarding the retention, the deletion and the communication of your personal data after your death;</li>
            <li>The right to withdraw your consent to the processing of your personal data, to the extent that the processing is based on your consent. In such case, the legality of the processing carried out before you withdrew your consent is not affected.If you wish to exercise your rights, please write to <strong>houseofcoins2021@gmail.com.</strong></li>
            <li>You also have the right to lodge a complaint with the French national data protection authority, the Commission Nationale de l’Informatique et des Libertés (CNIL), whose website can be viewed at: www.cnil.fr.</li>
        </ul>
    <div>
</section>
