<div class="email-cont container-fluid">
    <div class="col-12 col-sm-4">
        <h1>Hello <%= @user.username %>, </h1>
        <p>Thank you for your order.</p>
        <p>To access your customer area, log in via: <strong><%= @url %></strong>.</p>
        <p>See you soon on House of Coin website!</p>
        <p class="team-signature">The House of Coin team.</p>
        <p><small>Copyright © 2021 House of Coin.</small></p>
    </div>
</div>