<div class="email-cont container-fluid">
    <div class="col-12 col-sm-4">
        <%= inline_svg_tag "logo.svg", class: 'email-logo' %>
        <h3 class="email-title">Welcome <strong><%= @user.username %></strong>!</h3>
        <p>You are registered on House of Coin using the following e-mail: <strong><%= @user.email %></strong>.</p>
        <p>To access your customer area, log in via: <strong><%= @url %>.</strong></p>
        <p>See you soon on House of Coin website!</p>
        <p class="team-signature">The House of Coin team.</p>
        <p><small>Copyright © 2021 House of Coin.</small></p>
    </div>
</div>