<% @messages.each do |message| %>
  <div class="d-flex py-2">
    <%= image_tag 'head.png', style: "width: 32px; height: 32px;"%>
    <%= User.find_by(id:message.values[1]).username%>: <%= message.values[2] %>
  </div>
<% end %>

