<div class="full-image" style="background: url('<%= asset_path @dataImage[:url] %>') center center no-repeat; background-size: cover;">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <h1>
            <%= @dataImage[:title] %>
        </h1>
        <div class="sub-title">
            <%= @dataImage[:text] %>
        </div>
    </div>
</div>