<div class="custom-form mb-4">
    <h6>Buy HouseCoin since :</h6>
    <h5><%= @real_estate.coin_price.to_i %> € / housecoin</h5>
    <div class="d-flex mt-4">
        <%= button_to 'Get housecoin', 
                        house_coins_path, 
                        method: :post, 
                        params: { real_estate_id: @real_estate.id, coin_price: @real_estate.coin_price, user_id: @real_estate.user, order_id: current_order }, 
                        class: "btn btn-primary me-2" %>
    <% if current_user %>
        <% if current_user == @real_estate.user && !@real_estate.validated? %>
            <%= link_to 'Modify your offer', 
                        edit_real_estate_path(@real_estate.id), 
                        class: "btn btn-outline-warning me-2" %>
        <% end %>
        <% if current_user.is_admin? && !@real_estate.validated? %>
            <%= button_to 'Validate offer', 
                        admin_real_estate_path(@real_estate.id), 
                        method: :put, 
                        params: { validated?: true }, 
                        class: "btn btn-outline-primary" %>
        <% end %>
    <% end %>
    </div>
</div>
