<div class="row my-5">
    <div class="col-4 d-flex">
        <div class="icon flex-shrink-0 me-3">
            <%= inline_svg_tag "type_building.svg", class: 'picto-show' %>
        </div>
        <div>
            <h6>Type</h6>
        </div>
    </div>
    <div class="col-4 d-flex">
        <div class="icon flex-shrink-0 me-3">
            <%= inline_svg_tag "area.svg", class: 'picto-show' %>        
        </div>
        <div>
            <h6>Area</h6>         
        </div>
        </div>
    <div class="col-4 d-flex">
        <div class="icon flex-shrink-0 me-3">
            <%= inline_svg_tag "localisation.svg", class: 'picto-show' %>
        </div>
        <div>
            <h6><%= @real_estate.city %></h6>
        </div>
    </div>
</div>
