<div class="container my-5">
    <h2>You might be interested in</h2>
    <ul class="row">
        <li class="col-12 col-sm-8">
            <img src="" alt="">
        </li>
        <li class="col-12 col-sm-4">
            <h2>About us</h2>
            <p></p>
        </li>
    </ul>
</div>