<div class="cross-selling">
    <h2 id="selling">You might be interested in</h2>
    <ul class="estate-list row mt-4">
        <% @estates_latest.each do |estate| %>
            <li class="col-12 col-sm-6 col-md-3">
                <%= link_to real_estate_path(estate.id), 
                            :data => { :bs_toggle => "tooltip", :bs_placement => "bottom" }, 
                            title: estate.name do %>
                    <div class="card-image text-center">
                        <% if estate.pictures.attached? %>
                            <%= image_tag estate.pictures[0], alt: 'picture', class: 'w-auto h-100' %>
                        <% else %>
                            <%= image_tag estate.image_urls, alt: 'picture', class: 'w-auto h-100' %>
                        <% end %>
                    </div>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>