<section class="container my-5">
    <% @image_data = {
        url: 'img_home.png', 
        pos_x: 'right', 
        pos_y: '50%',
        path: contact_path,
        link: 'Contact us'} %>
    <%= render :partial => "search_estate", :object => @image_data %>
</section>

<section class="container my-5">
    <h1>Search for an offer</h1>
    <p class="sub-title">Choose from the most advantageous offers</p>
    <ul class="estate-list row align-items-stretch align-content-stretch mb-3">
        <% @estates.each do |estate| %>
            <% if is_available?(estate) && estate.validated?%>
                <li class="col-12 col-sm-6 col-md-4 mb-5">
                    <% @estate = estate %>
                    <%= render :partial => "card_estate", :object => @estate %>
                </li>
            <%end%>
        <% end %>
    </ul>
    <!-- MAP -->
    <%= render 'mapbox_index' %>
</section>
<%= render :partial => "shared/newsletter" %>
