<div class="container">
  <h1>My Cart</h1>

  <ul class="list-group-flush">
    <%unique_items = []%>

    <%@house_coins.each do | item |%>
      <%if !unique_items.map{ | c | c.real_estate_id }.include?(item.real_estate_id)%>
        <%unique_items << item%>
      <%end%>
    <%end%>

    <%unique_items.each do | hc |%> 
      <%@hc = hc%>
      <li class="list-group-item">
        <%=render 'product', object: @hc%>
      </li>
    <%end%>
    <li class="list-group-item"><h5>Total</h5></li>
    <li class="list-group-item"><%=current_order.order_total%> €</li>
  </ul>
  <%unless current_order.house_coins.length == 0%>
    <div class="buttons d-flex">
      <%=link_to 'Checkout', new_charge_path, class: "btn btn-success mr-3"%>
      <%=button_to 'Clear cart', cart_path(current_order), method: :delete, class: "btn btn-danger"%>
    </div>
  <%end%>
</div>
