<section class="container my-5">
    <h1>Dashboard</h1>
    <div class="dashboard-table my-5">
        <div class="d-flex justify-content-between pb-2 px-2">
            <strong>Name</strong>
            <%= link_to "", new_admin_real_estate_path, 
                            class: "btn-circle btn-primary fas fa-plus",
                            :data => { :bs_toggle => "tooltip", :bs_placement => "top" },
                            title: "New estate" %>
        </div>
        <% @estates.each do |estate| %>
            <div class="row">
                <div class="col-12 col-sm-9 px-2">
                    <%= link_to estate.name, admin_real_estate_path(estate.id), class: "text-primary" %>
                </div>
                <div class="col-12 col-sm-3 px-2 d-flex justify-content-end">
                    <% if estate.validated? %>
                        <i class="primary fas fa-check ms-1 my-1"></i>
                    <% end %>
                    <% @real_estate = estate %>

                    <%= link_to "", 
                                edit_admin_real_estate_path(estate.id), 
                                class: "btn-circle btn-primary fas fa-edit ms-2 my-1",
                                :data => { :bs_toggle => "tooltip", :bs_placement => "top" },
                                title: "Edit estate" %>
                    <% if estate.house_coins.length == 0 %>
                        <%= link_to "", 
                                    admin_real_estate_path(estate.id), 
                                    method: :delete,
                                    class: "btn-circle btn-danger fas fa-trash-alt ms-1 my-1",
                                    :data => { :bs_toggle => "tooltip", :bs_placement => "top" },
                                    title: "Delete estate" %>
                    <% else %>
                        <i class="btn-circle btn-danger fas fa-trash-alt ms-1 my-1 disabled"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</section>
