.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: $primary_hover;
        border-color: $primary_hover;
    }
}

.fa-check {
    color: $primary;
}

.btn-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        text-decoration: none;
    }
    &.disabled {
        opacity: .125;
    }
}

.btn-outline-primary {
    border-color: $primary;
    color: $primary;

    &:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
    }
}

.devise-link {
    color: $primary;
    &:hover {
        color: $primary_hover;
    }
}

.stripe-button-el {
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;

    &,& span {
        border-radius: .25rem !important;
        background-image: none !important;
        text-shadow: none !important;
        box-shadow: none !important;
    }
    &:hover span {
        background-color: $primary_hover !important;
    }
    span {
        height: auto !important;
        min-height: auto !important;
        display: inline-block !important;
        font-weight: 400 !important;
        color: $white !important;
        text-align: center !important;
        vertical-align: middle !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        background-color: $primary !important;
        border: 1px solid transparent !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        line-height: 1.5 !important;
        border-radius: .25rem !important;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    }
}