$body: #fff;
$white: #fff;
$light: #fff;
$dark: #141B2D;
$primary: #1C3988;
$primary_hover: #6E8AE9;
$pink: #F3F3FA;
$error: #FF0059;
$gray-300: #dee2e6;

.text-primary {
    color: $primary !important;
}
.bg-white {
    background-color: $white !important;
}