.footer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    padding: 3rem 1rem;

    h4 {
        color: $light;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .footer-link {
        &,&:hover {
            text-decoration: none;
        }
    }
}
