label,input[type="text"],input[type="number"],input[type="email"],textarea {
    font-size: 1.063rem;
}

.mw-form {
    width: 100%;
    max-width: 25rem;
}

.custom-form {
    padding: 15px;
    border-radius: .25rem;
    background-color: $pink;
}

#form_message{
    background: 
        linear-gradient(
        rgba(10, 10, 10, 0.8),
        rgba(10, 10, 10, 0.8)
        );
    border-radius:2px;
    color:white !important; 
    border:2px;
    border-color:white;
}