.header {
    background-color: $body;

    @media screen and (max-width: 767px) {
        font-size: 1rem;
    }
}

a.navbar-brand {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    .header-logo {
        fill: $dark !important;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    &:hover .header-logo {
        fill: $primary !important;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $dark;
    font-size: 1rem;
}
