body {
    background-color: $body;
    color: $dark;
    font-family: $font-default;

    @media screen and (max-width: 767px) {
        font-size: 1rem;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-title;
}
h1 {
    font-size: 51.88px;
}
ul,ol,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a,a * {
    text-decoration: none;
}
table {
    &,&>:not(caption)>*>* {
        padding: .5rem .5rem !important;
    }
}

.sub-title {
    font-size: 21.25px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $pink;
}

.column {
    @media screen and (min-width: 992px) {
        column-count: 2;
        column-gap: 4rem;
    }
}