<footer class="footer mt-auto">
    <%= link_to root_path, class: "footer-link text-center" do %>
        <%= inline_svg_tag "logo-light.svg", class: 'footer-logo' %>
        <h4 class="mt-2">House Of Coins</h4>
    <% end %>
</footer>
